<h2>My Goals</h2>
<div>
    <label>Goal name:</label> <input #goalName />
    <button (click)="add(goalName.value); goalName.value=''">
        Add
    </button>
</div>
<ul class="goals">
    <li *ngFor="let goal of goals" (click)="onSelect(goal)"
        [class.selected]="goal === selectedGoal">
        <button class="delete"
                (click)="delete(goal); $event.stopPropagation()">
            x
        </button>
        <span>{{goal.name}}</span>
    </li>
</ul>
<div *ngIf="selectedGoal">
    <h2>
        {{selectedGoal.name | uppercase}} is my goal
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>